* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: Gilroy, sans-serif;
}

html, body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
}

hr {
  border: 0;
  border-top: 1px solid #9e9e9e;
}

hr::after {
  content: "";
  display: block;
  height: 40px;
}

.h1-titles {
  text-align: center;
  font-size: 4rem;
  color: #ffa033;
  margin-bottom: 20px;
}

#trianglifyBackground {
  position: absolute;
}

.vector-transition {
  position: absolute;
  right: 0;
  opacity: .5;
  z-index: 99;
  min-height: 65px;
  width: 100vw;
}

#header {
  height: 100vh;
}

#header #header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  padding-top: 20px;
  -webkit-box-shadow: 1em -1.5em 3em 0 rgba(0, 0, 0, 0.333);
          box-shadow: 1em -1.5em 3em 0 rgba(0, 0, 0, 0.333);
  background-color: white;
  -webkit-animation-name: header-container;
          animation-name: header-container;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes header-container {
  0% {
    top: 50%;
  }
  12% {
    top: 56%;
  }
  100% {
    top: 30%;
  }
}

@keyframes header-container {
  0% {
    top: 50%;
  }
  12% {
    top: 56%;
  }
  100% {
    top: 30%;
  }
}

#header #header-container svg {
  width: 15rem;
  opacity: 1;
  -webkit-animation-name: EC_Svg;
          animation-name: EC_Svg;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes EC_Svg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes EC_Svg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header #header-container svg #Top_C {
  -webkit-animation-name: Top_C;
          animation-name: Top_C;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

@-webkit-keyframes Top_C {
  from {
    -webkit-transform: translate(-120px, 50px);
            transform: translate(-120px, 50px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Top_C {
  from {
    -webkit-transform: translate(-120px, 50px);
            transform: translate(-120px, 50px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header #header-container svg #Bottom_C {
  -webkit-animation-name: Bottom_C;
          animation-name: Bottom_C;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

@-webkit-keyframes Bottom_C {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Bottom_C {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header #header-container svg #Top_E {
  -webkit-animation-name: Top_E;
          animation-name: Top_E;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes Top_E {
  from {
    -webkit-transform: translate(0px, -130px);
            transform: translate(0px, -130px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes Top_E {
  from {
    -webkit-transform: translate(0px, -130px);
            transform: translate(0px, -130px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#header #header-container svg #Middle_E {
  -webkit-animation-name: Middle_E;
          animation-name: Middle_E;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes Middle_E {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Middle_E {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header #header-container svg #Bottom_E {
  -webkit-animation-name: Bottom_E;
          animation-name: Bottom_E;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

@-webkit-keyframes Bottom_E {
  from {
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes Bottom_E {
  from {
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#header #header-text {
  width: auto;
  padding: 1rem;
  position: absolute;
  word-wrap: break-word;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0;
  white-space: nowrap;
  -webkit-animation-name: header-text;
          animation-name: header-text;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#header #header-text h1 {
  opacity: 0;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-name: header-text-h1;
          animation-name: header-text-h1;
  white-space: nowrap;
}

@-webkit-keyframes header-text-h1 {
  from {
    opacity: 0;
    white-space: nowrap;
  }
  to {
    opacity: 1;
    white-space: normal;
  }
}

@keyframes header-text-h1 {
  from {
    opacity: 0;
    white-space: nowrap;
  }
  to {
    opacity: 1;
    white-space: normal;
  }
}

@-webkit-keyframes header-text {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 1000px;
  }
}

@keyframes header-text {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 1000px;
  }
}

#profile {
  padding: 5% calc(25% - 100px);
  background: #F4EEE1;
  text-align: center;
}

#profile #profile-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#profile #profile-container #profile-container-about {
  width: 45%;
  font-size: 1.2rem;
  margin: 20px;
}

#profile #profile-container #profile-container-about h2 {
  font-weight: bold;
  padding: 2rem;
}

#profile #profile-container img {
  min-width: 250px;
  max-width: 350px;
  min-height: 350px;
  border-radius: 100%;
  border: 20px solid #d0c2b1;
}

#experiences {
  padding: 5% calc(25% - 100px);
  padding-top: 150px;
  font-size: 2rem;
  background: #FFF;
  position: relative;
}

#experiences .education-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#experiences .education-information p:nth-child(1) {
  width: 35%;
  font-size: 22px;
  font-weight: bold;
}

#experiences .education-information p:nth-child(2) {
  width: 60%;
  font-size: 17px;
}

#experiences #skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

#experiences #skills .skills-crossword {
  padding-bottom: 40px;
  width: 45%;
}

#experiences #skills .skills-crossword h2 {
  text-align: center;
}

#experiences #skills .skills-crossword li {
  font-size: 23px;
  padding-bottom: 18px;
}

#sample-projects {
  padding: 5% calc(25% - 100px);
  background: #F4EEE1;
  position: relative;
}

#sample-projects .projects {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sample-projects .projects .project {
  width: 45%;
  text-align: center;
  position: relative;
}

#sample-projects .projects .project h2 {
  font-weight: bold;
}

#sample-projects .projects .project img {
  width: 170px;
  margin: 5%;
  -webkit-box-shadow: 1em -0.66em 1.5em 0.3em rgba(0, 0, 0, 0.13);
          box-shadow: 1em -0.66em 1.5em 0.3em rgba(0, 0, 0, 0.13);
  border: 2px solid grey;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#sample-projects .projects .project img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 25px;
  -webkit-box-shadow: 0.3em -0.22em 1.5em 0em rgba(0, 0, 0, 0.333);
          box-shadow: 0.3em -0.22em 1.5em 0em rgba(0, 0, 0, 0.333);
}

#find-me {
  padding: 5% calc(25% - 100px);
}

#find-me .hidden {
  opacity: 0;
  position: absolute;
  z-index: -99;
}

#find-me #gif-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

#find-me #gif-container span {
  font-size: 27px;
  position: relative;
  top: 20px;
}

#find-me #gif-container img {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
  margin: 2%;
}

#find-me #gif-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background-color: #F4EEE1;
  text-align: center;
  margin-top: 3em;
  font-size: .875rem;
  padding: 1rem;
}

@media screen and (max-width: 930px) {
  #profile {
    padding: 5%;
  }
  #profile #profile-container #profile-container-about {
    width: 100%;
    margin: 0 auto;
  }
  #find-me #gif-container p img {
    width: 120px;
  }
}

@media screen and (max-width: 700px) {
  #profile #profile-container {
    display: block;
  }
  #find-me #gif-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #find-me #gif-container p {
    margin: 7%;
  }
  #find-me #gif-container p img {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  #experiences #education .education-information p {
    font-size: 17px;
    padding: 1rem;
  }
  #experiences #skills .skills-crossword li {
    font-size: 17px;
  }
  #sample-projects .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sample-projects .projects .project {
    width: 100%;
  }
  #sample-projects .projects .project p {
    font-size: 23px;
  }
}
/*# sourceMappingURL=main.css.map */