$primary: #fff;
$secondary: #45fe12;
$tertiary: #e6f1f7;

* {
    box-sizing: border-box;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    height: 100vh;

    #header-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid black;
        padding-top: 20px;
        box-shadow: 1em -1.5em 2em 0 rgba(0,0,0,0.333);
        background-color: white;
        animation-name: header-container;
        animation-duration: 1.7s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;

        @keyframes header-container {
            0% {top: 50%;}
            12% {top: 56%;}
            100% {top: 30%;}
        }

        svg {
            width: 15vw;
            opacity: 1;
            animation-name: EC_Svg;
            animation-duration: 1s;
            animation-delay: 2s;
        }

        @keyframes EC_Svg {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        svg #Top_C {
            animation-name: Top_C;
            animation-duration: 1.3s;
        }
        @keyframes Top_C {
            from {transform: translate(-120px, 50px); transform: rotate(90deg);}
            to {transform: translate(0px, -0px); transform: rotate(0deg);}
          }
        svg #Bottom_C {
            animation-name: Bottom_C;
            animation-duration: 1.6s;
        }
        @keyframes Bottom_C {
            from {transform: translate(0px, 0px); transform: rotate(-80deg);}
            to {transform: translate(0px, -0px); transform: rotate(00deg);}
          }

        svg #Top_E {
            animation-name: Top_E;
            animation-duration: 1s;
        }
        @keyframes Top_E {
            from {transform: translate(0px, -130px);}
            to {transform: translate(0px, -0px);}
          }
        svg #Middle_E {
            animation-name: Middle_E;
            animation-duration: 2s;
        }
        @keyframes Middle_E {
            from {transform: translate(0px, 0px); transform: rotate(90deg);}
            to {transform: translate(0px, 0px); transform: rotate(0deg);}
          }
        svg #Bottom_E {
            animation-name: Bottom_E;
            animation-duration: 1.7s;
        }
        @keyframes Bottom_E {
            from {transform: translate(0px, 120px);}
            to {transform: translate(0px, -0px);}
          }
    }

    #header-text {
        position: absolute;
        padding: 1rem;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0;
        animation-name: header-text;
        animation-duration: 1.2s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        white-space:nowrap;

        @keyframes header-text {
        from {opacity: 0; max-width: 0;}
        to {opacity: 1; max-width: 1000px;}
        }

            h1 {
                opacity: 0;
                animation-duration: 1.2s;
                animation-delay: 4.4s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: header-text-h1;

                @keyframes header-text-h1 {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
            }
    }

    
}

#skills {
    font-size: 40px;
    height: 1000px;
}

footer {
    background-color: #757575;
    opacity: .5;
    text-align: center;
    font-weight: bold;
    color: #000;
    width: 100%;
    margin-top: 3em;
    font-size: 1.5rem;
    padding: 1em;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -99;
    opacity: 100;
}