$BG2: #FFF;
$padding: 5% calc(25% - 100px);
$BG: #F4EEE1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif !important;
}

hr {
    border: 0;
    border-top: 1px solid rgb(158, 158, 158);
}

hr::after {
    content: "";
    display: block;
    height: 40px;
}

.h1-titles {
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 160, 51);
    margin-bottom: 20px;
}

#trianglifyBackground {
    position: absolute;
}

.vector-transition {
    position: absolute;
    right: 0;
    opacity: .5;
    z-index: 99;
}

.vector-transition2 {
    bottom: -75px;
}

#header {
    height: 100vh;

    #header-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 1px solid black;
        padding-top: 20px;
        box-shadow: 1em -1.5em 3em 0 rgba(0,0,0,0.333);
        background-color: white;
        animation-name: header-container;
        animation-duration: 1.7s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;

        @keyframes header-container {
            0% {top: 50%;}
            12% {top: 56%;}
            100% {top: 30%;}
        }

        svg {
            width: 15rem;
            opacity: 1;
            animation-name: EC_Svg;
            animation-duration: 1s;
            animation-delay: 2s;
        }

        @keyframes EC_Svg {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        svg #Top_C {
            animation-name: Top_C;
            animation-duration: 1.3s;
        }
        @keyframes Top_C {
            from {transform: translate(-120px, 50px); transform: rotate(90deg);}
            to {transform: translate(0px, -0px); transform: rotate(0deg);}
        }
        svg #Bottom_C {
            animation-name: Bottom_C;
            animation-duration: 1.6s;
        }
        @keyframes Bottom_C {
            from {transform: translate(0px, 0px); transform: rotate(-80deg);}
            to {transform: translate(0px, -0px); transform: rotate(00deg);}
        }

        svg #Top_E {
            animation-name: Top_E;
            animation-duration: 1s;
        }
        @keyframes Top_E {
            from {transform: translate(0px, -130px);}
            to {transform: translate(0px, -0px);}
        }
        svg #Middle_E {
            animation-name: Middle_E;
            animation-duration: 2s;
        }
        @keyframes Middle_E {
            from {transform: translate(0px, 0px); transform: rotate(90deg);}
            to {transform: translate(0px, 0px); transform: rotate(0deg);}
        }
        svg #Bottom_E {
            animation-name: Bottom_E;
            animation-duration: 1.7s;
        }
        @keyframes Bottom_E {
            from {transform: translate(0px, 120px);}
            to {transform: translate(0px, -0px);}
        }
    }

    #header-text {
        width: auto;
        padding: 1rem;
        position: absolute;
        word-wrap: break-word;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0;
        white-space: nowrap;
        animation-name: header-text;
        animation-duration: 1.5s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        

        h1 {
            opacity: 0;
            animation-duration: 1.2s;
            animation-delay: 4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
            animation-name: header-text-h1;
            white-space: nowrap;

            @keyframes header-text-h1 {
                from {opacity: 0; white-space: nowrap;}
                to {opacity: 1; white-space: normal;}
            }
        }

        @keyframes header-text {
            from {opacity: 0; max-width: 0;}
            to {opacity: 1; max-width: 1000px; }
        }

    }
}

#profile {
    padding: $padding;
    background: $BG;
    text-align: center;

    #profile-container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        #profile-container-about {
            width: 45%;
            font-size: 1.2rem;
            margin: 20px;

            h2 {
                font-weight: bold;
                padding: 2rem;
            }
        }

        img {
            min-width: 250px;
            max-width: 350px;
            min-height: 350px;
            padding: 2rem;
        }
    }
}

#experiences {
    padding: $padding;
    padding-top: 150px;
    font-size: 2rem;
    background: $BG2;
    position: relative;

    .education-information {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .education-information p:nth-child(1) {
        width: 35%;
        font-size: 22px;
        font-weight: bold;
    }

    .education-information p:nth-child(2) {
        width: 60%;
        font-size: 17px;
    }

    #skills {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        .skills-crossword {
            padding-bottom: 40px;
            width: 45%;

            h2 {
                text-align: center;
            }

            li {
                font-size: 23px;
                padding-bottom: 18px;
            }
        }
    }

}

#sample-projects {
    padding: $padding;
    background: $BG;
    position: relative;

    .projects {
        margin: 5%;
        display: flex;
        justify-content: space-between;

        .project {
            width: 45%;
            text-align: center;
            position: relative;

            h2 {
                margin-bottom: 40px;
            }

            img {
                width: 170px;
                margin: 5%;
                border-radius: 20px;
                box-shadow: 1em -.66em 1.5em .3em rgba(0,0,0,0.333);
                cursor: pointer;
                transition: all .3s ease-in-out;
            }

            img:hover {
                transform: scale(1.2);
                box-shadow: .3em -.22em 1.5em 0em rgba(0,0,0,0.333);
            }
        }
    }
}

#find-me {
    padding: $padding;

    .hidden {
        opacity: 0;
        position: absolute;
        z-index: -99;
    }

    #gif-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        text-align: center;
        font-family: 'Sansita', sans-serif;

        span {
            font-size: 27px;
            position: relative;
            top: 20px;
        }

        img { 
            transition: all .1s ease-in-out;
            cursor: pointer;
            margin: 2%;
        }

        img:hover {
            transform: scale(1.2);
        }
    } 
}

footer {
    background-color: $BG;
    text-align: center;
    font-weight: bold;
    margin-top: 3em;
    font-size: 1.1rem;
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    #profile #profile-container {
        display: block;

        #profile-container-details {
            margin: 0 auto;
            width: 90%;
        }

        #profile-container-about {
            margin: 0 auto;
            width: 90%;
        }

        img {
            padding: 1rem;
            max-width: 300px;
        }
    }
    #find-me {
        #gif-container {
            flex-direction: column;
            align-items: center;

            p {
                margin: 10%;
            }
        }
    }

}

@media screen and (max-width: 400px) {
    #experiences #education .education-information p {
        font-size: 17px;
        padding: 1rem;
    }

    #experiences #skills .skills-crossword li {
        font-size: 17px;
    }

    #sample-projects .projects {
        display: flex;
        flex-direction: column;

        .project {
            width: 100%;

            p {
                font-size: 23px;
            }

        }
    }
}