* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#header {
  height: 100vh;
}

#header #header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  padding-top: 20px;
  -webkit-box-shadow: 1em -1.5em 2em 0 rgba(0, 0, 0, 0.333);
          box-shadow: 1em -1.5em 2em 0 rgba(0, 0, 0, 0.333);
  background-color: white;
  -webkit-animation-name: header-container;
          animation-name: header-container;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes header-container {
  0% {
    top: 50%;
  }
  12% {
    top: 56%;
  }
  100% {
    top: 30%;
  }
}

@keyframes header-container {
  0% {
    top: 50%;
  }
  12% {
    top: 56%;
  }
  100% {
    top: 30%;
  }
}

#header #header-container svg {
  width: 15vw;
  opacity: 1;
  -webkit-animation-name: EC_Svg;
          animation-name: EC_Svg;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes EC_Svg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes EC_Svg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header #header-container svg #Top_C {
  -webkit-animation-name: Top_C;
          animation-name: Top_C;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}

@-webkit-keyframes Top_C {
  from {
    -webkit-transform: translate(-120px, 50px);
            transform: translate(-120px, 50px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Top_C {
  from {
    -webkit-transform: translate(-120px, 50px);
            transform: translate(-120px, 50px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header #header-container svg #Bottom_C {
  -webkit-animation-name: Bottom_C;
          animation-name: Bottom_C;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

@-webkit-keyframes Bottom_C {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Bottom_C {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header #header-container svg #Top_E {
  -webkit-animation-name: Top_E;
          animation-name: Top_E;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes Top_E {
  from {
    -webkit-transform: translate(0px, -130px);
            transform: translate(0px, -130px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes Top_E {
  from {
    -webkit-transform: translate(0px, -130px);
            transform: translate(0px, -130px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#header #header-container svg #Middle_E {
  -webkit-animation-name: Middle_E;
          animation-name: Middle_E;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes Middle_E {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes Middle_E {
  from {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#header #header-container svg #Bottom_E {
  -webkit-animation-name: Bottom_E;
          animation-name: Bottom_E;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

@-webkit-keyframes Bottom_E {
  from {
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes Bottom_E {
  from {
    -webkit-transform: translate(0px, 120px);
            transform: translate(0px, 120px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#header #header-text {
  position: absolute;
  padding: 1rem;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0;
  -webkit-animation-name: header-text;
          animation-name: header-text;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  white-space: nowrap;
}

@-webkit-keyframes header-text {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 1000px;
  }
}

@keyframes header-text {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 1000px;
  }
}

#header #header-text h1 {
  opacity: 0;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-name: header-text-h1;
          animation-name: header-text-h1;
}

@-webkit-keyframes header-text-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes header-text-h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#skills {
  font-size: 40px;
  height: 1000px;
}

footer {
  background-color: #757575;
  opacity: .5;
  text-align: center;
  font-weight: bold;
  color: #000;
  width: 100%;
  margin-top: 3em;
  font-size: 1.5rem;
  padding: 1em;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -99;
  opacity: 100;
}
/*# sourceMappingURL=main.css.map */